.dumb{
    color: rgb(255, 0, 221);
}

.bung{
    color: rgb(229, 255, 0);
}
body{
    background-image: url(XandaoVerde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   
